@font-face{
font-family:GothicWar;
src:url("fonts/GothicWar.otf");
}

body{
background:black;
color:white;
font-family:Arial;
margin:0;
text-align:center;
}

header{
padding:40px;
background:#0d0d0d;
border-bottom:2px solid #8b0000;
}

h1{
font-family:GothicWar;
font-size:60px;
color:#8b0000;
}

.intro{
max-width:700px;
margin:auto;
opacity:0.8;
}

nav{
margin:30px;
}

button{
background:#8b0000;
border:none;
color:white;
padding:12px 20px;
margin:5px;
cursor:pointer;
font-size:16px;
border-radius:6px;
transition:0.3s;
}

button:hover{
background:#b30000;
}

.category{
max-width:700px;
margin:auto;
padding:20px;
}

.hidden{
display:none;
}

.player{
display:flex;
justify-content:space-between;
background:#111;
padding:12px;
margin:8px 0;
border-left:4px solid #8b0000;
border-radius:4px;
}

.name{
font-family:GothicWar;
font-size:20px;
}

.time{
color:#ff4d4d;
font-weight:bold;
}